<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sfx" type="Sfx.Framework.Configuration.SfxConfigurationSection, Stupid.Framework.Configuration"/>
  </configSections>
  <sfx>
    <dummy v1="123" v2="" />
    <dummy2>
      <add name="1" />
      <add name="2" />
      <add name="3" />
    </dummy2>
  </sfx>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>